.title {
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
}

.td__bg {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.td__bg:hover {
  background-color: rgb(204, 204, 204, 0.5);

  cursor: pointer;
}
