/* sign in */

.body__signin {
  background-color: #ccc;
  width: 600px;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  margin-top: 0;
  box-shadow: 2px 2px 5px black;
}

.body__form__signin {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 30px;
  border-radius: 4px;
  background-color: rgb(250, 250, 250, 0.3);
  cursor: pointer;
}

/* .body__form__signin:hover {
  transform: scale(1.1);
  box-shadow: 10px 15px 5px black;
} */

.body__formSignIn {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  height: fit-content;
}

/* login */

.body__login {
  background-color: #ccc;
  width: 900px;
  height: 950px;
  padding: 50px;
  margin: 40px auto;
}

.body__form__login {
  background-color: rgb(250, 250, 250, 0.3);
  border: 1px solid black;
  padding: 20px;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  box-shadow: 2px 2px 5px black;
}
/* .body__formLogin {
  font-weight: bold;
  display: flex;
  padding: 30px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
} */

.loading {
  display: flex;
  width: 200px;
  justify-content: space-around;
  color: green;
}
.loading p {
  font-weight: 800;
  margin-top: 5px;
}

.buttons__group {
  display: flex;
  margin: 0 auto;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
